<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>freedom</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <el-form :inline="true" :model="db">
            <el-form-item label="数据库用户名:">
                <el-input v-model="db.username" placeholder="请输入数据库用户名"></el-input>
            </el-form-item>
            <el-form-item label="数据库密码:">
                <el-input v-model="db.password" placeholder="请输入数据库密码"></el-input>
            </el-form-item>
            <el-form-item label="数据库连接地址:">
                <el-input size="mini" v-model="db.url">
                    <template slot="prepend">jdbc:mysql://</template>
                    <template slot="append">
                        ?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
                    </template>
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button
                        type="primary"
                        size="mini"
                        @click="connect"
                        :disabled="!connectBtnEnabled"
                >连接数据库</el-button>
            </el-form-item>
        </el-form>
        <el-form :inline="true">
            <el-form-item label="项目包名:">
                <el-input
                        v-model="packageName"
                        placeholder="请输入包名com.znq.test"></el-input>
                <div style="color: #ff018d;font-weight: bold">[{{msg}}]</div>
            </el-form-item>
            <el-form-item label="选择项目生成路径:">
                <el-input
                        v-model="codePath"
                        placeholder="项目生成路径"></el-input>
                <!--<el-button type="primary" size="mini" @click="browseFolder">选择路径</el-button>-->
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="mini" @click="config">配置</el-button>
            </el-form-item>
        </el-form>
        <el-table
                :data="tableData"
                stripe
                border
                style="width: 100%"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="tableName"
                    label="表名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    label="实体类名称"
                    width="180">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.pojoName"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="字段前缀去除">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.columnsPrefix"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="字段后缀去除">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.columnsSuffix"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="Mapper名称">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.mapperName"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="Service名称">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.serviceName"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="Controller名称">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.controllerName"></el-input>
                </template>
            </el-table-column>
        </el-table>
        <div>
            <el-button type="success" icon="el-icon-magic-stick" @click="generateCode">生成代码</el-button>
            <div style="color: #ff0114;font-weight: bold">*{{result}}*</div>
            <div>{{codePath}}</div>
        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: function () {
                return {
                    tableData: [],
                    resultTable: [],
                    result: '生成路径',
                    codePath: 'D:\\allproject\\base\\test',
                    packageName: 'com.znq.test',
                    msg: '数据库未连接',
                    connectBtnEnabled: true,
                    db: {
                        username: "root",
                        password: "@ZNQRoot123456",
                        url: "localhost:3306/helpage"
                    }
                }
            },
            methods: {
                /**
                 * 生成代码
                 */
                generateCode() {
                    let _this = this;
                    let urlCodePath = this.codePath
                    // console.log(urlCodePath.replace(/\\/g, '-'))
                    urlCodePath = urlCodePath.replace(/\\/g, '-')
                    axios.post(`/generateCode/${urlCodePath}`, this.resultTable)
                        .then(function (response) {
                            _this.result = response.data.msg;
                            _this.codePath = response.data.obj;
                        })
                        .catch(function (error) {
                        });
                },
                /**
                 * 配置生成代码
                 */
                config() {
                    let _this = this;
                    axios.post('/config', {packageName: this.packageName})
                        .then(function (response) {
                            console.log('配置生成代码', response)
                            _this.msg = response.data.msg;
                            _this.tableData = response.data.obj;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                /**
                 * 连接数据库
                 */
                connect() {
                    let _this = this;
                    this.db.url = "jdbc:mysql://" + this.db.url + "?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai";
                    axios.post('/connect', this.db)
                        .then(function (response) {
                            _this.msg = response.data.msg;
                            _this.connectBtnEnabled = false;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                /**
                 * 选择要生成代码的表
                 */
                handleSelectionChange(val) {
                    console.log('选择要生成代码的表', val)
                    this.resultTable = val;
                },
                /**
                 * 选择代码生成的路径 不兼容，先写绝对路径吧
                 */
                // browseFolder() {
                //     try {
                //         var Message = "\u8bf7\u9009\u62e9\u6587\u4ef6\u5939"; //选择框提示信息
                //         var Shell = new ActiveXObject("Shell.Application");
                //         var Folder = Shell.BrowseForFolder(0, Message, 64, 17); //起始目录为：我的电脑
                //         //var Folder = Shell.BrowseForFolder(0, Message, 0); //起始目录为：桌面
                //         if (Folder != null) {
                //             Folder = Folder.items(); // 返回 FolderItems 对象
                //             Folder = Folder.item(); // 返回 Folderitem 对象
                //             Folder = Folder.Path; // 返回路径
                //             if (Folder.charAt(Folder.length - 1) != "\\") {
                //                 Folder = Folder + "\\";
                //             }
                //             this.codePath = Folder;
                //             return Folder;
                //         }
                //     }
                //     catch (e) {
                //         alert(e.message);
                //     }
                // }
            }
        })
    </script>
</body>
</html>